body, textarea, select, input, button {
    font-size: 0.8em;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #333;
}

.text {
    width: 100%;
    position: relative;
    zoom: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.even td{
	background-color: #f7f7f7;
}

.artist{
	text-align: left;
	width: 10em;
}

.top{
	height: 5em;
    background: #6ab158;
}

.cookieString{
	width: 20em;
    padding: 4px;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.cookieString+input[type=button]{
	cursor: pointer;
	width: 4em;
	padding: 4px;
    border: 0;
    border-radius: 0 5px 5px 0;
}

.form{
	text-align: right;
    margin: 0 auto;
    width: 70%;
    padding-top: 0.5em;
}

.data-body{
	text-align: center;
}

.data{
	margin: 0 auto; 
	width: 70%;
}

.data table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.data td{
	text-align: center;
	display: table-cell;
}

.player-body{
	width: 100%;
    height: 4.5em;
    background: #f7dbc7;
    position: fixed;
    bottom: 0em;
}

.bottom{
	width: 100%;
    height: 4.5em;
    background: #f7dbc7;
}

.changePageIndex{
	cursor: pointer;
    font-size: 1.2em;
    color: #ab6c16;
}

#nowPageIndex{
	color: #e27b7b;
    font-size: 1.2em;
    margin: 1em;
}